<div class="theme-panel theme-panel-lg bg-black" id="setting">
    <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
    <div class="theme-panel-content" data-scrollbar="true">
        <h5 class="m-t-0">主题设置</h5>
        <div class="divider"></div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">头部样式</div>
            <div class="col-md-6">
                <select name="header-styling" class="form-control form-control-sm">
                    <option value="2">默认</option>
                    <option value="1">白色</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">是否固定头部</div>
            <div class="col-md-6">
                <select name="header-fixed" class="form-control form-control-sm">
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">左侧菜单样式</div>
            <div class="col-md-6">
                <select name="sidebar-styling" class="form-control form-control-sm">
                    <option value="1">默认样式</option>
                    <option value="2">grid</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">是否固定菜单</div>
            <div class="col-md-6">
                <select name="sidebar-fixed" class="form-control form-control-sm">
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">菜单定位样式</div>
            <div class="col-md-6">
                <select name="content-gradient" class="form-control form-control-sm">
                    <option value="1">透明黑色</option>
                    <option value="2">浅蓝色</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">正文背景颜色</div>
            <div class="col-md-6">
                <select name="content-styling" class="form-control form-control-sm">
                    <option value="1">default</option>
                    <option value="2">black</option>
                </select>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-md-6 control-label text-inverse f-w-600">视图位置</div>
            <div class="col-md-6">
                <select name="direction" class="form-control form-control-sm">
                    <option value="1">LTR</option>
                    <option value="2">RTL</option>
                </select>
            </div>
        </div>
        <div class="divider"></div>
        <h5>THEME VERSION</h5>
        <div class="theme-version">
            <a href="../template_html/index_v2.html" class="active">
                <span style="background-image: url(__CDN__/assets/img/theme/default.jpg);"></span>
            </a>
            <a href="../template_transparent/index_v2.html">
                <span style="background-image: url(__CDN__/assets/img/theme/transparent.jpg);"></span>
            </a>
        </div>
        <div class="theme-version">
            <a href="../template_apple/index_v2.html">
                <span style="background-image: url(__CDN__/assets/img/theme/apple.jpg);"></span>
            </a>
            <a href="../template_material/index_v2.html">
                <span style="background-image: url(__CDN__/assets/img/theme/material.jpg);"></span>
            </a>
        </div>
        <div class="theme-version">
            <a href="../template_facebook/index_v2.html">
                <span style="background-image: url(__CDN__/assets/img/theme/facebook.jpg);"></span>
            </a>
        </div>
        <div class="divider"></div>
        <div class="row m-t-10">
            <div class="col-md-12">
                <a href="javascript:;" class="btn btn-inverse btn-block btn-rounded" data-click="reset-local-storage"><b>重置主题设置</b></a>
            </div>
        </div>
    </div>
</div>
<!-- 返回顶部按钮开始 -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
<!-- 返回顶部按钮结束 -->